body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #262626;
}

.container {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #262626;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.flex-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.file-name {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px; /* スペースを追加 */
    font-size: 14px;
    color: #8e8e8e;
    text-align: center;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    min-height: 100px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

textarea::placeholder {
    color: #8e8e8e;
}

.menu-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s;
    flex-grow: 1; /* ボタンが均等な幅になるように変更 */
    text-align: center;
    border: none;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #0056b3;
}